:where(*, *::before, *::after) {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:where(html) {
	height: 100%;
	line-height: 1.5;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	scrollbar-gutter: stable;
}

:where(body) {
	min-height: 100vh;
	margin: 0;
}

:where(ul, ol) {
	list-style-type: "";
}

:where(img, svg, video, iframe) {
	display: block;
	max-width: 100%;
}

:where(:any-link) {
	text-underline-offset: 0.25em;
}

:where(button, [type="button"], [type="reset"], [type="submit"]) {
	touch-action: manipulation;
}

:where(button, input, select, textarea) {
	font-family: inherit;
	font-size: 1rem;
}

:where(label:not(:has([disabled]))) {
	cursor: pointer;
}

:where(textarea) {
	field-sizing: content;
	resize: block;
}

:where(table) {
	border-collapse: collapse;
	border: 1px solid;
}

:where(th, td) {
	border: 1px solid;
}

:where([hidden]:not([hidden="until-found"])) {
	display: none !important;
}
