---
import Layout from "../layouts/Basic.astro";
import { getBlogDetail, getBlogs } from "../libraries/microcms";

// 詳細記事ページの全パスを取得
export async function getStaticPaths() {
	const response = await getBlogs({ fields: ["id"] });
	return response.contents.map((content: { id: string }) => ({
		params: {
			blogId: content.id,
		},
	}));
}

const { blogId } = Astro.params;
const blog = await getBlogDetail(blogId as string);
---

<Layout>
  <main>
    <h2>{blog.title}</h2>
    <p>公開日時：{blog.publishedAt}</p>
    <div set:html={blog.content}></div>
  </main>
</Layout>
