---
import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
---

<header>
	<nav>
		<h1><a href="/">{SITE_TITLE}</a></h1>
		<div>
			<HeaderLink href="/">Home</HeaderLink>
		</div>
	</nav>
</header>
